<!DOCTYPE html>
<html lang="en">

<!--/*@thymesVar id="editedCustomer" type="org.iu.study.hotel.dtos.EditableCustomer"*/-->
<!--/*@thymesVar id="customers" type="java.util.List<org.iu.study.hotel.dtos.CustomerDTO>"*/-->

<head>
  <meta charset="UTF-8">

  <title th:text="'Kundenverwaltung | ' + ${editedCustomer.getLastName()}">Hotel | Kundenverwaltung</title>

  <link rel="stylesheet" href="/table-style.css"/>
</head>
<body>
<h2 th:text="'Kundenverwaltung - ' + ${editedCustomer.getLastName()}">Kundenverwaltung</h2>

<p th:if="${isSuccess}" th:text="${successMessage}" class="success-message">
  Die Aktion wurde ausgefÜhrt.
</p>

<form id="editForm"
      method="post"
      th:action="@{|/customers/${editedCustomer.getId()}/edit|}"
      th:object="${editedCustomer}">
</form>

<table class="customer-table">
  <thead>
  <tr>
    <th style="width: 20%">Kundennummer</th>
    <th style="width: 23%"><label for="firstName">Vorname</label></th>
    <th style="width: 23%"><label for="lastName">Nachname</label></th>
    <th style="width: 34%">Aktionen</th>
  </tr>
  </thead>

  <tbody>

  <tr style="background-color: #A8A8A8">
    <td th:text="${editedCustomer.getId()}"></td>
    <td>
      <input form="editForm" id="firstName" type="text"
             th:field="*{editedCustomer.firstName}"
             th:value="${editedCustomer.getFirstName()}">
    </td>
    <td>
      <input form="editForm" id="lastName" type="text"
             th:field="*{editedCustomer.lastName}"
             th:value="${editedCustomer.getLastName()}">
    </td>
    <td>
      <div class="table-action-button-list-wrapper">
        <div class="action-button-wrapper">
          <button form="editForm"
                  type="submit"
                  class="button view-customer-orders-button"
                  value="view-bookings"
                  style="color: white;
                  background-color: dodgerblue">
            Speichern
          </button>
        </div>

        <div class="action-button-wrapper">
          <a href="/customers">
            <button class="button view-customer-orders-button" value="edit">
              Abbrechen
            </button>
          </a>
        </div>
      </div>
    </td>
  </tr>

  <tr th:each="customer : ${customers}">
    <td th:text="${customer.getId()}"></td>
    <td th:text="${customer.getFirstName()}"></td>
    <td th:text="${customer.getLastName()}"></td>
    <td>
      <div class="table-action-button-list-wrapper">
        <div class="action-button-wrapper">
          <button class="button view-customer-orders-button" value="view-bookings">
            Buchungen ansehen
          </button>
        </div>

        <div class="action-button-wrapper">
          <a th:href="@{|/customers/${customer.getId()}/edit|}">
            <button class="button view-customer-orders-button">
              Bearbeiten
            </button>
          </a>
        </div>

        <div class="action-button-wrapper">
          <a th:href="@{|/customers/${customer.getId()}/delete|}">
            <button class="button delete-button" value="delete">
              Löschen
            </button>
          </a>
        </div>
      </div>
    </td>
  </tr>

  </tbody>
</table>
</body>
</html>